.modal{
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: -10;
    opacity: 0;
    user-select: none;
    transition: all .3s;
}

.modal.active{
    z-index: 5000;
    opacity: 1;
}

.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-header {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 5px 5px 0 0;
    background-color: inherit;
}

.modal-header>h1{
    margin: 0 auto;
    color: black;
    font-weight: normal;
    text-shadow: 0px 0px 1px grey;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}

@media(max-width:480px){
    .modal-content{
        width: 100%;
        height: 100%;
    }
}

.input-field {
    width: calc(50% - 10px);
    height: 40px;
    padding: 0 14px;
    font-size: 16px;
    border-radius: 3px;
    border-style: none;
    outline-style: none;
    border: 1px solid #DDDDDD
}

.input-field:focus {
    border: 2px solid #1fb6ff;
}


@media(max-width:480px){
    .input-field{
        width: 100%;
    }
}
